<div class="forecast-card">
    <p id="day"><%= forecast[i].day %> </p>
    <div id="weather-condition">
    <img src=<%= forecast[i].icon %> alt="weather displaying icon">
    <p><%=  forecast[i].text  %></p>
    </div>
    <p id="temp"><span id="high"><%= forecast[i].high  %></span>/<span id="low"><%= forecast[i].low  %></span></p>
</div>